@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 13% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 120 13% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 120 13% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 93 39% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 10% 90%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 120 10% 90%;
    --muted-foreground: 224 7.1% 44.8%;
    --accent: 14 80% 46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 85%;
    --input: 120 10% 85%;
    --ring: 93 39% 44%;
    --chart-1: 93 39% 44%;
    --chart-2: 14 80% 46%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 100 10% 10%;
    --foreground: 210 20% 90%;
    --card: 100 10% 15%;
    --card-foreground: 210 20% 90%;
    --popover: 100 10% 10%;
    --popover-foreground: 210 20% 90%;
    --primary: 93 39% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 100 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 100 10% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 14 80% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 100 10% 25%;
    --input: 100 10% 25%;
    --ring: 93 39% 55%;
    --chart-1: 93 39% 55%;
    --chart-2: 14 80% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
